/* PHASE 11: Icons */
.icon-comment {
  background-position: 0px 0px;
}

.icon-comment:hover {
  background-position: 0px -25px;
}

.icon-reblog {
  background-position: 0px -100px;
}

.icon-reblog:hover {
  background-position: 0px -125px;
}

.icon-favorite {
 background-position: 0px -50px;
}

.icon-favorite:hover {
 background-position: 0px -75px;
}


.icon-small-wall {
  background-position: 0px -225px;
}
.icon-small-about {
  background-position: 0px -175px;
}
.icon-small-friends {
  background-position: 0px -150px;
}
.icon-small-photos {
  background-position: 0px -200px;
}

[class*="icon-"] {
  background-image: url('../images/sprite.png');
  background-size: 25px 250px;
  display: inline-block;
  /*height: 25px;*/
  overflow: hidden;
  height: 0;
  width: 25px;
  padding-top: 25px;
}
[class*="icon-small-"] {
  /*background-image: url('../images/sprite.png');*/
  /*background-size: 25px 250px;*/
  /*display: inline-block;*/
  /*overflow: hidden;*/
  vertical-align: bottom;
  /*height: 0;*/
  width: 20px;
  padding-top: 20px;
  /*margin-right: 10px;*/
}








/*.*/
